body{
    background-color: rgb(0,0,33);
    color: white;
}

#nav{
    display: flex;
    background-color: rgb(1,1,38);
    align-items: center;
}

#nav-left{
    margin-left: 20px;
    margin-right: auto;
}

#nav-right{
    margin-left: auto;
    margin-right: 20px;
}

#nav ul{
    list-style: none;
    align-items: center;
}

#nav li{
    display: inline;
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}